@use 'Home';
$primary-color: #ff6060;
$font-stack: 'Montserrat';

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  @include center();
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  padding: 2%;
  border-radius: 25px;
  box-shadow: 6px 5px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  min-height: 150px;
}

.banner-text {
  color: white;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}

.banner-fiche {
  height: 400px;
}

.banner.banner-fiche {
  background-color: transparent !important;
  box-shadow: none !important;
}

@media (max-width: 320px) {
  .banner-text {
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .banner {
    width: 93%;
    margin: 0% 3% 0% 1%;
  }

  .banner-fiche {
    height: 335px;
  }
}
