@use 'Home';
$primary-color: #ff6060;
$font-stack: 'Montserrat';

@mixin box-style($width, $height) {
  width: $width;
  height: $height;
}

@mixin text-style($color, $size, $ffamily, $fweight) {
  color: $color;
  font-size: $size;
  font-family: $ffamily;
  font-weight: $fweight;
}

$font-stack: 'Montserrat';

.grand-carre {
  @include box-style(82%, 100%);
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 3% 0% 3% 7%;
  padding: 3% 2% 0% 2%;
  justify-content: space-around;
}

.petit-carre {
  background-color: $primary-color;
  padding: 0;
  margin: 0 0 3% 0;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative; 
  overflow: hidden;
}

.image-carre {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0;
}

.text-carre {
  @include text-style(white, 18px, $font-stack, 700);
  margin: 0;
  position: absolute;
  bottom: 10px; 
  left: 10px;
}
