@use 'Home';
$primary-color: #ff6060;
$font-stack: 'Montserrat';

@mixin text-style($color, $size, $ffamily, $fweight, $justify-content) {
  color: $color;
  font-size: $size;
  font-family: $ffamily;
  font-weight: $fweight;
  justify-content: $justify-content;
  display: flex;
}

.fiche-title {
  @include text-style($primary-color, 36px, $font-stack, 500, flex-start);
  margin-bottom: 0px;
  margin-top: 3%;
}

.fiche-paragraph {
  @include text-style(black, 18px, $font-stack, 500, flex-start);
  margin-top: 5px;
}

.fiche-tags {
  margin-top: 10px;
}

.tags {
  display: flex;
  justify-content: flex-start;
  margin-top: 4%;
  gap: 1%;
}

.tags-name {
  border: solid 5px $primary-color;
  border-radius: 50px;
  background-color: $primary-color;
  color: white;
  white-space: nowrap;
  display: inline-block;
  min-width: 15%;
}

.fiche-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fiche-main {
  flex: 2;
}

.host {
  display: flex;
  padding-top: 15%;
  gap: 5%;
}

.host-p {
  @include text-style($primary-color, 18px, $font-stack, 500, flex-start);
}

.host-picture {
  color: #c4c4c4;
  border-radius: 50%;
  object-fit: cover;
}

.fiche-host-rating {
  flex: 1;
  align-items: flex-end;
}

.rating {
  padding-left: 46%;
}

.fiche-collapse {
  display: flex;
  padding: 2% 0% 2% 0%;
  gap: 50px;
}

.collapse-block {
  width: 100%;
  max-width: 1000px;
}

.liste-equipements {
  list-style: none;
}

.star-icon {
  margin-right: 4px;
}

.banner-wrapper {
  position: relative;
  width: 100%;
}

.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.chevron-left {
  left: -90%;
  color: white;
}

.chevron-right {
  right: -1%;
  color: white;
}

.nombreImage {
  @include text-style(white, 18px, $font-stack, 500, none);
  position: absolute;
  transform: translateY(-45px);
  display: inline;
}
