@use 'Home';
$primary-color: #ff6060;
$font-stack: 'Montserrat';

.header {
  width: 1240px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  color: black;
  font-family: 'Montserrat';
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}

.header {
  margin: 0% 0% 0% 6.5%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  color: #ff6060;
}

.headernav {
  display: flex;
  gap: 57px;
}

@media (max-width: 767px) {
  .header {
    justify-content: flex-start;
    gap: 1rem;
  }

  .nav-link {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .header {
    width: 100%;
    padding: 1rem;
    margin: 0;
    justify-content: flex-start;
    gap: 1rem;
  }

  .logo {
    width: 145px;
  }

  .headernav {
    gap: 1rem;
  }

  .nav-link {
    font-size: 12px;
    font-weight: 500;
    font-family: $font-stack;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}
